<!--
  Build cacheable, fingerprinted stylesheets instead of embedding the complete
  CSS payload in every HTML document. Slick is emitted only where a slider can
  be rendered.
-->
{{ $imageCount := 0 }}
{{ with .Params.images }}{{ $imageCount = len . }}{{ end }}
{{ $needsSlick := or (eq .Section "shop") (gt $imageCount 1) }}
{{ $baseStyles := slice }}
{{ $slickStyles := slice }}

{{ range site.Params.plugins.css }}
  {{ $link := .link }}
  {{ if findRE "^http" $link }}
<link rel="stylesheet" href="{{ $link | absURL }}" {{ .attributes | safeHTMLAttr }}>
  {{ else }}
    {{ $resource := resources.Get $link }}
    {{ if in $link "plugins/slick/" }}
      {{ $slickStyles = $slickStyles | append $resource }}
    {{ else }}
      {{ $baseStyles = $baseStyles | append $resource }}
    {{ end }}
  {{ end }}
{{ end }}

{{ $themeStyle := resources.Get "scss/style.scss" | resources.ExecuteAsTemplate "scss/style.scss" . | toCSS }}
{{ $baseStyles = $baseStyles | append $themeStyle }}
{{ with resources.Get "scss/custom.scss" }}
  {{ $baseStyles = $baseStyles | append (. | toCSS) }}
{{ end }}

{{ $siteStyles := $baseStyles | resources.Concat "css/site.css" | minify | fingerprint "sha512" }}
<link rel="stylesheet" href="{{ $siteStyles.RelPermalink }}" integrity="{{ $siteStyles.Data.Integrity }}" crossorigin="anonymous">

{{ if and $needsSlick (gt (len $slickStyles) 0) }}
  {{ $sliderStyles := $slickStyles | resources.Concat "css/slider.css" | minify | fingerprint "sha512" }}
<link rel="stylesheet" href="{{ $sliderStyles.RelPermalink }}" integrity="{{ $sliderStyles.Data.Integrity }}" crossorigin="anonymous">
{{ end }}
