{{ define "main" }}

{{ $featuredPosts := slice }}
{{ if site.Params.featured_post }}
  {{ $featuredPosts = first 3 (where site.RegularPages "Type" "featured") }}
{{ end }}
{{ $featuredPermalinks := slice }}
{{ range $featuredPosts }}
  {{ $featuredPermalinks = $featuredPermalinks | append .RelPermalink }}
{{ end }}

{{ $postPages := where site.RegularPages "Section" "in" site.Params.mainSections }}
{{ $listPosts := $postPages }}
{{ if gt (len $featuredPermalinks) 0 }}
  {{ $listPosts = where $postPages "RelPermalink" "not in" $featuredPermalinks }}
{{ end }}
{{ .Scratch.Set "where" $listPosts }}
{{ $paginator := .Paginate (where (.Scratch.Get "where") "Section" "in" site.Params.mainSections) }}
{{ $showFeatured := and (gt (len $featuredPosts) 0) (eq $paginator.PageNumber 1) }}

<h1 class="sr-only">
  {{ if eq $paginator.PageNumber 1 }}
  인공지능경제연구소 AIEconLab
  {{ else }}
  AIEconLab 최신 글 {{ $paginator.PageNumber }}페이지
  {{ end }}
</h1>

{{ if $showFeatured }}
  {{ partial "featured-post.html" (dict "Posts" $featuredPosts) }}
{{ end }}

{{ partial "default.html" . }}

{{ end }}
