{{ define "main" }}

{{ $featuredPosts := slice }}
{{ if site.Params.featured_post }}
  {{ $featuredPosts = first 3 (where site.RegularPages "Type" "featured") }}
{{ end }}

{{ $postPages := where site.RegularPages "Section" "in" site.Params.mainSections }}
{{ .Scratch.Set "where" $postPages }}
{{ $paginator := .Paginate (where (.Scratch.Get "where") "Section" "in" site.Params.mainSections) }}
{{ $showFeatured := and (gt (len $featuredPosts) 0) (eq $paginator.PageNumber 1) }}

<h1 class="sr-only">
  {{ if eq $paginator.PageNumber 1 }}
  <span data-ui-i18n="home_heading">인공지능경제연구소 AIEconLab</span>
  {{ else }}
  <span data-ui-i18n="home_page_heading" data-ui-param-page="{{ $paginator.PageNumber }}">AIEconLab 최신 글 {{ $paginator.PageNumber }}페이지</span>
  {{ end }}
</h1>

{{ if $showFeatured }}
  {{ partial "featured-post.html" (dict "Posts" $featuredPosts) }}
{{ end }}

{{ partial "default.html" . }}

{{ end }}
